<?xml version="1.0"?>
<ruleset name="JCORE Turva">
	<description>WordPress coding standards for the JCORE Turva plugin.</description>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="ps"/>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/release/*</exclude-pattern>

	<config name="testVersion" value="8.2-"/>
	<config name="minimum_wp_version" value="6.7"/>

	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra">
		<exclude name="WordPress.PHP.YodaConditions"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="jcore-turva"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="jcore_turva"/>
				<element value="JCORE_TURVA"/>
				<element value="Jcore\Turva"/>
			</property>
		</properties>
	</rule>
</ruleset>
